name: Publish Blockchain SDK
on:
  push:
    branches:
      - main # 只有合并到 main 分支时触发

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. 设置 Buf
      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1

      # 2. 设置 Node.js 环境
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/' # 如果发布到 GitHub Packages 则修改此 URL

      # 3. 生成代码
      - name: Generate TS Codes
        run: buf generate --template buf.gen.ts.yaml

      # 4. 自动化版本管理与发布
      - name: Publish to NPM
        run: |
          # 配置 Git 身份，用于 npm version 修改版本号
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          
          # 自动增加补丁版本号 (1.0.0 -> 1.0.1)
          npm version patch
          
          # 发布包
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{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}} # 你需要在 GitHub 仓库设置中添加此 Token