# This workflow is useful if you want to automate the process of:
#
# a) Creating a new prelease when you push a new tag with a "v" prefix (version).
#
#    This type of prerelease is meant to be used for production: alpha, beta, rc, etc. types of releases.
#    After the prerelease is created, you need to make your changes on the release page at the relevant
#    Github page and publish your release.
#
# b) Creating/updating the "latest" prerelease when you push to your default branch.
#
#    This type of prelease is useful to make your bleeding-edge binaries available to advanced users.
#
# The workflow will not run if there is no tag pushed with a "v" prefix and no change pushed to your
# default branch.
name: Publish Proto SDK to NPM
on:
  push:
    branches:
      - main # 只有合并到主分支时触发

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          # 使用 GitHub 自动提供的默认 Token 进行身份验证
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'

      # 运行生成命令，指定你的配置文件
      - name: Generate TypeScript Codes
        working-directory: ./proto
        run: buf generate --template buf.gen.ts.yaml

      # 发布到 NPM
      - name: Publish to NPM
        working-directory: ./proto
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          # 自动提升版本号，避免重复发布失败
          npm version patch -m "chore: bump version to %s [skip ci]"
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
